/* Grid.css */

.desc {
  margin: 4px;
  text-align: center;
  color:  #282c34;
}

.desc-2 {
  margin: 4px;
  margin-bottom: 10px;
  text-align: center;
  color:  #282c34;
}

label {
  color:  #282c34;
}

input {
  background-color: white!important;
}

.grid-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    width: 500px; /* Adjust the width to your preference */
    height: 500px; /* Adjust the height to your preference */
    border: 2px solid #61dafb; /* Border around the grid */
  }
  
  .grid-cell {
    border: 1px solid #eee; /* Border around each cell */
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }

  .grid-cell.alive {
    background-color: black; /* Cell color when alive */
  }
  
  .grid-cell.dead {
    background-color: white; /* Cell color when dead */
  }
  
  .controls {
    margin-top: 20px;
    text-align: center;
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Add space between buttons */
  }

  .slider-container {
    display: flex;
 /* flex-direction: column;  ---------- Default to side by side */
    align-items: center;
    margin-top: 10px;
  }

  .slider-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .slider-container label {
    margin: 5px 0;
  }

  .slider-group label {
    margin-bottom: 5px;
  }

  .slider-group input[type="range"] {
    margin-bottom: 5px;
  }
  
  .slider-group input[type="number"] {
    width: 60px;
    margin-left: 10px;
  }

input[type="number" i] {
  color: black;
}

@media (min-width: 600px) {
  .slider-container {
    flex-direction: row; /* Stack sliders side by side on larger screens */
    justify-content: center;
  }

  .slider-container label {
    margin: 0 10px;
  }
}

/*                    uncomment this to move inputs to the right of the sliders
.slider-group {
  flex-direction: row;
  align-items: center;
}
*/

.slider-group input[type="range"] {
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 5px;
}

.slider-group input[type="number"] {
  margin-left: 5px;
  margin-top: 8px;
}
